./tooling/transcript
./tooling/vlog_compile.log
./tooling/waveform.wlf
./tooling/work/_info
./tooling/work/_lib.qbd
./tooling/work/_lib1_0.qbd
./tooling/work/_lib1_0.qpg
./tooling/work/_lib1_0.qtl
./tooling/work/_vmake
